{% extends 'mused/genre_base.html' %}

{% block body %}
    {% if object_list %}
        <div class="row">
            {% if is_paginated %}
                {% include '_pagination.html' %}
            {% endif %}

            {% for genre in object_list %}
                <div class="card col-6">
                    <div class="card-block">
                        <a href="{{ url('genre_detail', kwargs={'slug': genre.slug}) }}">
                            <h4 class="card-title">{{ genre.title }}</h4>
                        </a>
                        {# <p class="card-text">{{ genre.name }}</p> #}
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                {% include '_pagination.html' %}
            {% endif %}
        </div>

    {% else %}
        <p>No resources found!!! :(</p>
    {% endif %}
{% endblock %}